/1.Neural Networks and Deep Learning/1.Intro to Deep Learning/.ipynb_checkpoints/
/1.Neural Networks and Deep Learning/2.Neural Networks Basics/.ipynb_checkpoints/
/1.Neural Networks and Deep Learning/3.Shallow Neural Networks/.ipynb_checkpoints/
/1.Neural Networks and Deep Learning/4.Deep Neural Networks/.ipynb_checkpoints/

/2.Improving Deep Neural Networks/1.Practical Aspects of Deep Learning/.ipynb_checkpoints/
/2.Improving Deep Neural Networks/2.Algorithm Optimization/.ipynb_checkpoints/
/2.Improving Deep Neural Networks/3.Hyperparameter Tuning, Batch Normalization and Programming Frameworks/.ipynb_checkpoints/

/3.Structuring Machine Learning Projects/.ipynb_checkpoints/

/4.Convolutional Neural Networks/1.Foundations of Convolutional Neural Networks/.ipynb_checkpoints/
/4.Convolutional Neural Networks/2.Deep Convolutional Models/.ipynb_checkpoints/
/4.Convolutional Neural Networks/3.Object Detection/.ipynb_checkpoints/
/4.Convolutional Neural Networks/4.Special Applications - Facial Recognition & Neural Style Transfer/.ipynb_checkpoints/